{% load staticfiles menu%}
    <html>
        <head>
            <title>TEST</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/cms.css' %}">
        </head>
        <body>
        <div class="content container">
            <div class="page-header">
                <h1><a href="/">TEST</a></h1>
                    {% menu cms.Page 1 %}
                    {% include "cms/menu.html" %}

            </div>
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
    </html>